
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Cadastro - E-Ceub</title>
  <link href="/cadastro/cadastro.css" rel="stylesheet" type="text/css" />
  
</head>
<body>
<header>
    <nav id="navbar-horizontal">
    <ul class="navbar-horizontal-itens">
      <li class = "item-horizontal"><a href = "login">Login</a>  <!-- Item4 -->
    </ul>
    </nav>
</header>

<section class ="signup">
<form action='/register' method='POST' >
  <h2> Cadastro</h2>
  <input type='text' name = 'nickname' placeholder= "nickname" class="signup-input">
  <input type='text' name = 'name' placeholder= "nome" class="signup-input">
  <input type='tel' name = 'phone' placeholder= '(61)999999999' class="signup-input" maxlength="11">
  <input type='email' name = 'email' placeholder= 'email' class="signup-input">
  <input type='password' name = 'password' placeholder ='senha' class="signup-input">
  <input type='password' name ='cpassword' placeholder ='confirma a senha' class="signup-input">
  <input type="submit" value='Cadastrar' class="signup-bottom">
</form>
       
        
    <% for (var i = 0; i < message.length; i++){%>
    <div class = "message-error">
      <strong>
        <ul>
          <li><%=message[i]%></li>
        </ul>
      </strong>
    </div>
  <% } %>
  </section>
 

</body>
  <script src="/cadastro/script.js"></script>
</html>
